
/* Small Phones 0 to 480px;*/
@media only screen and (max-width: 480px){
    .resume img{
        width:100%;
        height:auo;
        
    }
}
/* larger Phones 0 to 767px;*/
@media only screen and (max-width: 767px){
    .resume img{
        width:100%;
        height:auo;
        
    }
    body{font-size:16px;}
    
    
}
/* Tablets 0 to 767px;*/
@media only screen and (max-width: 1023px){
    
    body{font-size: 18px;} 
    section {padding: 60px;}
}
/* Big Tablets to 1200px;*/
@media only screen and (max-width: 1200px){

    .heading-text{
    width: 100%;
    padding: 0 2%;
    text-align: center;
    }
    .row{
        padding: 0 2%;
    }
    
    .aboutme{
    
    width: 80%;
    margin-left: 10%;
    text-align: justify;
    }
        .project-photo img{
  
            height:450px;
            width:100%;}


}

.row{padding: 0 2%; }
    